<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ProjectServlet</display-name>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/ProjectServlet</url-pattern>
  </servlet-mapping>
  <display-name>CS370Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>Project.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeGPAServlet</display-name>
    <servlet-name>ChangeGPAServlet</servlet-name>
    <servlet-class>Project.ChangeGPAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeGPAServlet</servlet-name>
    <url-pattern>/ChangeGPAServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>Project.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePhonenumServlet</display-name>
    <servlet-name>ChangePhonenumServlet</servlet-name>
    <servlet-class>Project.ChangePhonenumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePhonenumServlet</servlet-name>
    <url-pattern>/ChangePhonenumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAddressServlet</display-name>
    <servlet-name>ChangeAddressServlet</servlet-name>
    <servlet-class>Project.ChangeAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAddressServlet</servlet-name>
    <url-pattern>/ChangeAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeGpaServlet</display-name>
    <servlet-name>ChangeGpaServlet</servlet-name>
    <servlet-class>Project.ChangeGpaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeGpaServlet</servlet-name>
    <url-pattern>/ChangeGpaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>Project.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
</web-app>